<%= form_with(model: task) do |form|  %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= task.errors.count %> <%= task.errors.count < 2 ? t('error_title_single') : t('error_title_plurial') %> <%= task.errors.count < 2 ? t('global_form_error_sigle') : t('global_form_error_plurial') %>:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <br>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.label :deadline_on %>
    <br>
    <%= form.date_field :deadline_on, start_date: Time.now  %>
  </div>
  <div class="field">
    <%= form.label :priority %>
    <br>
    <%= form.select :priority,  [["Sélectionnez une priorité", nil],["Faible"], ["Moyenne"],["Elevée"]] %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <br>
    <%= form.select :status, [["Sélectionnez un statut", nil],["Non démarré"], ["Démarré"],["Terminé"]] %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
