<p id="notice"><%= notice %></p>

<h1>Show Task Page</h1>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p class="last_carac">
  <strong>Created_at:</strong>
  <%= @task.created_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
